.clear-fix:before,
.clear-fix:after{
  display: block;
  content: "";
  clear: both;
}
.squares-items{
  height: 90px;
  width: 90px;
  padding: 5px;
  float: left;
  color: white;
  text-align: center;
  overflow: hidden;
}